################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/DevTest/obj/Debug/netcoreapp2.2
/DevTest/obj
/.vs
/DevTest/.vs/DevTest/v16
/DevTest/bin/Debug/netcoreapp2.2
